@media screen and (max-width: 400px){   //justera fontsize för screen 

.h2{
font-size: 25px;
}
.mealitem{
font-size: 18px;
}
.about{
    font-size: 18px;
}
footer p{
    font-size: 18px;  
    padding-bottom: 10px;
}
}

@media screen and (max-width: 300px){

    .h2{
    font-size: 22px;
    }
    .mealitem{
    font-size: 15px;
    }
    .about{
        font-size: 15px;
        margin-bottom: 0px;
    }
    footer p{
        font-size: 15px;  
        padding-bottom: 6px;
    }
    .container{
        padding: 10px;
    }
    }